%p ビューのレイアウト更新中
%h2 step2
= form_for @user, url: step3_signup_index_path, method: :get, html: { class: '' } do |f|
  .new-member-registration-form-content__group
    = f.label :ニックネーム, { class: 'new-registration-label' }
    = f.label :必須, { class: 'form-require' }
    = f.text_field :nickname, autofocus: true, placeholder: '例) スクランブル江口', class: 'input-default',value: session[:nickname]
  .new-member-registration-form-content__group
    = f.label :メールアドレス, { class: 'new-registration-label' }
    = f.label :必須, { class: 'form-require' }
    = f.email_field :email, placeholder: 'PC・携帯どちらでも可', class: 'input-default',value: session[:email]
  - if session[:provider] == nil
    .new-member-registration-form-content__group
      = f.label :パスワード, { class: 'new-registration-label' }
      = f.label :必須, { class: 'form-require' }
      = f.password_field :password, placeholder: '6文字以上', class: 'input-default'
    .new-member-registration-form-content__group
      = f.label :パスワード（確認）, { class: 'new-registration-label' }
      = f.label :必須, { class: 'form-require' }
      = f.password_field :password_confirmation, placeholder: '6文字以上', class: 'input-default'
  .button
    = f.submit "次に進む"
