%script{src: "http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"}
%script{src: "http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"}
%link{href: "http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css", rel: "stylesheet"}/

= form_with model: @diary , data: { remote: false }, class: "common-form" do |diary|
  - if @diary.errors.any?
    .form__errors
      %h2= "#{@diary.errors.full_messages.count}件のエラーが発生しました。"
      %ul
        - @diary.errors.full_messages.each do |message|
          %li= message
  .common-form__date
    = diary.text_field :entry_on,placeholder:"2019/10/28", id:'datepicker', value: Date.today.strftime('%Y/%m/%d')
    = diary.label '開始日',for:'datepicker'
    .common-form__date--description クリックするとカレンダーが表示されます

  - if current_page?(controller: 'diaries', action: 'new')
    = diary.submit '記録する' ,class:'common-form__submit'
  - else
    = diary.submit '変更する' ,class:'common-form__submit'
