= form_with model: current_user , data: { remote: false }, class: 'common-form' do |user|
  - if @user.errors.any?
    .form__errors
      %h2= "#{@user.errors.full_messages.count}件のエラーが発生しました。"
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message
  .common-form__text
    = user.text_field :nickname
    = user.label :nickname
    .common-form__text--description 新しいニックネームをどうぞ
  .common-form__text
    = user.text_field :introduction
    = user.label :introduction
    .common-form__text--description あなたのことを教えてください
  .common-form__radiobtn
    = user.radio_button :sex,:man,id:'man_radiobtn'
    = user.label :sex,:男性, for:'man_radiobtn'
    = user.radio_button :sex,:woman,id:'woman_radiobtn'
    = user.label :sex,:女性, for:'woman_radiobtn'
  .common-form__select
    = user.select :activity, User.activities_i18n.invert,{prompt: ""},{class: "common-form__select--option"}
    = user.label :activity
  .common-form__number
    = user.number_field :age,placeholder: 20
    = user.label :age
    .common-form__number--description 単位は歳です。
  .common-form__number
    = user.number_field :height,placeholder: 170
    = user.label :height
    .common-form__number--description 単位はcmです。
  = user.submit "ユーザー情報更新" ,class:'common-form__submit'
