%header
  .main-header
    .main-header--row
      .main-header--content
        %a.main-header--content__logo{:href => "#"} ABOUT
        .main-header--content__mobile-toggle
          %span
          %span
          %span
        .main-header--nav
          %ul
            %li
              %a{href: "#sec01"} INTRODUCTION
            %li
              %a{:href => "#sec02"} ABOUT THIS APP
            %li
              %a{:href => "#sec03"} START
            %li
              %a{:href => "#sec04"} OTHER
  .sections
    %section#letsgo
      #sentence MAKE BODY!
      %h1
        %span This is eguchi's Portfolio
        = succeed "LETS GO!" do
          %br/
      %div scroll down
      .mouse
        %span
    %section#sec01.maincolor.section
      .section__content
        %h1 introduction
        %p ご覧いただきありがとうございます。
        %p 江口 恵太と申します。
        %p 半年間、仕事をしながらTECH EXPERTに通い先日卒業しました。
        %p このアプリはカリキュラムとは別に作成したものです。
    %section#sec02.subcolor.section
      .section__content
        %h1 about this app
        %p 世の中にはフィットネスの情報で溢れています。
        %script{src: "https://www.amcharts.com/lib/4/core.js"}
        %script{src: "https://www.amcharts.com/lib/4/charts.js"}
        %script{src: "https://www.amcharts.com/lib/4/plugins/wordCloud.js"}
        %script{src: "https://www.amcharts.com/lib/4/themes/material.js"}
        %script{src: "https://www.amcharts.com/lib/4/themes/animated.js"}
        #chartdiv
        %p しかし、
        %p 1.体重を記録すること
        %p 2.カロリーをコントロールすること
        %p がダイエットの根本だと身をもって学びました。
        %p 下記は私の写真です。
        %ul.product-list
          %li.product-list__item
            .product-list__item-button
              Before
              %span -120kg___After-65kg
            .product-list__item-img
              = image_tag('https://i.gyazo.com/582ce68596c92691d3ecbce2a2914226.jpg',size: '350x350')
        %p このアプリは手軽に体重を管理でき、回帰分析を使った将来体重の予測ができます。
        %p ページ下部よりログインしてください。
    %section#sec03.maincolor.section
      .section__content
        %h1 Start
        %p Start This APPよりアクセスしてください
        .start-button
          .start-button__svg-wrapper
            %svg{height: "40", width: "200"}
              %rect.start-button__shape{height: "40", width: "200"}
              .start-button__text
                = link_to new_user_session_path do
                  Start This APP
    %section#sec04.subcolor.section
      .section__content
        %h1 Other
        %p カリキュラムの課題で作成しデプロイしたものです。
        %ul.product-list
          %li.product-list__item
            .product-list__item-button
              = link_to 'http://52.197.92.111',target: :_blank do
                チャットアプリ
                %span chat-space
            .product-list__item-img
              = link_to image_tag('https://i.gyazo.com/aac0e1a9219c72244309f228c6bb9dc1.gif',size: '350x350'),'http://52.197.92.111',target: :_blank
            %table.product-list__item-table
              %tbody
                %tr
                  %th 開発部類
                  %td 個人開発
                %tr
                  %th 作成時期
                  %td 2019/5/12~6/19
                %tr
                  %th Email
                  %td sample1@sample.com
                %tr
                  %th Password
                  %td password
                %tr
                  %th GitHub
                  %td
                    = link_to 'リンク','https://github.com/eggchi21/chat-space',target: :_blank
          %li.product-list__item
            .product-list__item-button
              = link_to 'http://3.114.144.96',target: :_blank do
                フリマアプリ
                %span freemarket_sample_51a
            .product-list__item-img
              = link_to image_tag('https://i.gyazo.com/962b4c1386c39c03eb7fda0809478313.gif',size: '350x350'),'http://3.114.144.96',target: :_blank
            %table.product-list__item-table
              %tbody
                %tr
                  %th 開発部類
                  %td チーム開発(4人)
                %tr
                  %th 作成時期
                  %td 2019/7/28~10/5
                %tr
                  %th 担当箇所
                  %td
                    = link_to '担当箇所資料のリンク' ,'https://docs.google.com/document/d/1XiQgeS4W0cHeGm5xnT7hUtxpkThnYz_WD3I_vYqdrXQ/edit#heading=h.uc9r1bu1xm1f',target: :_blank
                %tr
                  %th ユーザー名(Basic認証)
                  %td frema51a
                %tr
                  %th パスワード(Basic認証)
                  %td 9074
                %tr
                  %th Email
                  %td sample1@sample.com
                %tr
                  %th Password
                  %td password
                %tr
                  %th GitHub
                  %td
                    = link_to 'リンク','https://github.com/eggchi21/freemarket_sample_51a',target: :_blank
    %a.scrollup{href:"#"}
      %i.fas.fa-arrow-alt-circle-up
