= form_with model: @food , data: { remote: false }, class: "common-form" do |food|
  .common-form__upload-image
    .common-form__upload-image--description 画像は4枚まで添付できます
    %input#image-upload.common-form__upload-image--input{name: "image", type: "file"}
    %label.common-form__image--icon-0{for: "image-upload"}
      .common-form__upload-image--icon-wrap
        %i.fas.fa-image
        .common-form__upload-image--icon-text 画像からPFCを取得する
  .common-form__text
    = food.text_field :name
    = food.label :name
  .plan-form__pfc
    .sell-form-group__select-wrap.level1_category--form
      %i.sell-form-group__select-wrap--icon.fas.fa-chevron-down
      = food.collection_select :ancestry, @food_groups , :id, :name, {prompt: "---"}, {class: "sell-form-group__select-wrap--default",id: 'level1_category'}
    .plan-form__pfc--protein
      = food.number_field :protein, step:"0.1", min:0
      = food.label 'たんぱく質(g)'
      .plan-form__pfc--protein--description 画像を挿入すると自動で数値が入力されます。
    .plan-form__pfc--fat
      = food.number_field :fat, step:"0.1", min:0
      = food.label '脂質(g)'
      .plan-form__pfc--fat--description 画像を挿入すると自動で数値が入力されます。
    .plan-form__pfc--carbo
      = food.number_field :carbo, step:"0.1", min:0
      = food.label '炭水化物(g)'
      .plan-form__pfc--carbo--description 画像を挿入すると自動で数値が入力されます。
    .common-form__number
      = food.number_field :kcal, step:"0.1", min:0
      = food.label 'kcal'
    .common-form__number
      = food.number_field :gram, step:"0.1", min:0
      = food.label 'グラム(g)'
    .common-form__text
      = food.text_field :unit, placeholder:"例: 1枚"
      = food.label '単位'
  = food.submit '登録する' , class:'common-form__submit'