.plan-card
  .plan-card--flipbox
    .plan-card--flipbox__front
      %p.front__title
        = plan.user.nickname
      %p.front__subline
        #{plan.start_on} から
        %br>/
        #{plan.target_on}まで
        %br>/
        ダイエットします！
      %h1.front__headline
        #{plan.target_weight-plan.start_weight}kg
        %br>/
        にコミットします！
    .plan-card--flipbox__back
      %h1.back__headline
        ダイエット計画
      .back__text
        .back__text--protein.back__text--pfc
          たんぱく質:#{plan.protein}g
        .back__text--fat.back__text--pfc
          脂質:#{plan.fat}g
        .back__text--carbo.back__text--pfc
          炭水化物:#{plan.carbo}g
        .back__text--calorie.back__text--pfc
          目標摂取カロリー:#{plan.protein * 4 + plan.fat * 9 + plan.carbo * 4}カロリー
  .plan-card--action
    - if user_signed_in?
      - if Like.where(plan_id: plan.id, user_id:current_user.id ).count == 0
        .plan-card--action__good.unliked{data: {plan: "#{plan.id}"}}
          %i.fa.fa-thumbs-up.fa-1x.plan-card--action__thumbsup.like_count
            いいね #{Like.where(plan_id: plan.id).count}
      - else
        .plan-card--action__good.liked{data: {plan: "#{plan.id}"}}
          %i.fa.fa-thumbs-up.fa-1x.plan-card--action__thumbsup.like_count
            いいね #{Like.where(plan_id: plan.id).count}
      - if plan.user.id == current_user.id
        = link_to edit_plan_path(plan) do
          .plan-card--action__edit
            %i.fa.fa-pen.fa-1x.plan-card--action__pencil
        = link_to plan_path(plan), method: :delete do
          .plan-card--action__delete
            %i.fa.fa-trash-alt.fa-1x.plan-card--action__trash
  .plan-card--toggle
    .plan-card--toggle__toback
    .plan-card--toggle__tofront
      %i.fa.fa-angle-right.fa-3x.plan-card--toggle__arrow
