%script{src: "http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"}
%script{src: "http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"}
%link{href: "http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css", rel: "stylesheet"}/

= form_with model: @plan , data: { remote: false }, class: "common-form" do |plan|
  .common-form__weight.calc-calorie
    = plan.number_field :start_weight,placeholder:"80.0", step:"0.1", min:40,id:'start-weight'
    = plan.label '開始体重',for:'start-weight'
    .caution--start_weight 40kg未満は設定できません
    .common-form__weight--description 単位はkgです。40kg未満は入力できません
  .common-form__weight.calc-calorie.initial-none--weight
    = plan.number_field :target_weight,placeholder:"60.0", step:"0.1", min:37,id:'target-weight'
    = plan.label '目標体重',for:'target-weight'
    .caution--target_weight 未満は設定できません
    .common-form__weight--description 単位はkgです。37kg未満は入力できません
  .common-form__date.calc-calorie.initial-none--weight
    = plan.text_field :start_on,placeholder:"2019/10/28", id:'start_on_datepicker'
    = plan.label '開始日',for:'start_on_datepicker'
    .common-form__date--description クリックするとカレンダーが表示されます
  .common-form__date.calc-calorie.initial-none--weight
    = plan.text_field :target_on,placeholder:"2019/10/28", id:'target_on_datepicker'
    = plan.label '目標日',for:'target_on_datepicker'
    .caution--target_date 開始日未満は設定できません
    .common-form__date--description クリックするとカレンダーが表示されます
  .plan-form__tdee.initial-none--weight
    .plan-form__tdee--text
      あなたの総消費カロリーは...
    .plan-form__tdee--numeric
      0kcal
  .plan-form__tdei.initial-none--date
    .plan-form__tdei--text
      あなたの目標摂取カロリーは...
    .plan-form__tdei--numeric
      0kcal

  .common-form__method
    = plan.radio_button :method,:lowfat,id:'lowfat_method'
    = plan.label :method,:ローファットダイエット, for:'lowfat_method'
    = plan.radio_button :method,:lowcarbo,id:'lowcarbo_method'
    = plan.label :method,:ローカーボダイエット, for:'lowcarbo_method'
  .plan-form__pfc
    %label{for: "proteinpercent"} たんぱく質の割合 (0%-100%):
    %input#proteinpercent{max:"100", min: "0", name: "proteinpercent", type: "number"}
    %label{for: "fatpercent"} 脂質の割合 (0%-100%):
    %input#fatpercent{max:"100", min: "0", name: "proteinpercent", type: "number"}
    %label{for: "carbopercent"} 炭水化物の割合 (0%-100%):
    %input#carbopercent{max:"100", min: "0", name: "proteinpercent", type: "number"}

    .plan-form__protein
      = plan.label :protein
      = plan.number_field :protein,placeholder: 20
    .plan-form__fat
      = plan.label :fat
      = plan.number_field :fat,placeholder: 20
    .plan-form__carbo
      = plan.label :carbo
      = plan.number_field :carbo,placeholder: 20
    .plan-form__calorie
      %p 1000kcal
  = plan.submit "create plan" ,class:'common-form__submit'
