%script{src: "http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"}
%script{src: "http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"}
%link{href: "http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css", rel: "stylesheet"}/
= form_with model: [current_user ,@report], data: { remote: false }, class: "common-form" do |report|
  - if @report.errors.any?
    .form__errors
      %h2= "#{@report.errors.full_messages.count}件のエラーが発生しました。"
      %ul
        - @report.errors.full_messages.each do |message|
          %li= message
  .common-form__number
    = report.number_field :weight, placeholder:"70.0", step:"0.1", min:0,id:'weight-input'
    = report.label '体重',for:'weight-input'
    .common-form__number--description 単位はkgです
  .common-form__date
    - if @report.new_record?
      = report.text_field :entry_on,placeholder:"2019/10/28", id:'datepicker',value: I18n.l(Date.today)
    - else
      = report.text_field :entry_on,placeholder:"2019/10/28", id:'datepicker',value: I18n.l(@report.entry_on)
    = report.label '日付',for:'datepicker'
    .common-form__date--description クリックするとカレンダーが表示されます
  .common-form__text
    = report.text_field :text,placeholder:"今日の気分は？", id:'text-input'
    = report.label 'メモ',for:'text-input'
    .common-form__text--description なんでも記載してください
  .common-form__image
    .common-form__image--description 画像は4枚まで添付できます
    = report.file_field :images, multiple: true,id:'image-input',class: "common-form__image--input"
    = report.label:images,class: "common-form__image--icon-0",for:'image-input' do
      .common-form__image--icon-wrap
        %i.fas.fa-image
        .common-form__image--icon-text 画像
        -# 複数画像編集考案中
    -# - @report.images.each_with_index do |image,index|
    -#   = image_tag image,size:'114x116'
      -# = report.file_field :images, multiple: true,id:'image-input',class: "common-form__image--input"
      -# = report.label:images,class: "common-form__image--icon-0",for:'image-input' do
  - if current_page?(controller: 'reports', action: 'new')
    = report.submit "記録する" ,class:'common-form__submit'
  - else
    = report.submit "更新する" ,class:'common-form__submit'