.report
  %table.report__details
    %tr
      %th.report__txt{"data-label": "レポート"} 開始
      - if @reports.first.present?
        %td.report__kg{"data-label": "kg"} #{@reports.first.weight}kg
      - else
        %td.report__kg{"data-label": "kg"}
          = link_to new_user_report_path do
            記録をする
    %tr
      %th.report__txt{"data-label": "レポート"} 目標
      - if current_user.plans.last.present?
        %td.report__kg{"data-label": "kg"} #{current_user.plans.last.target_weight}kg
      - else
        %td.report__kg{"data-label": "kg"}
          = link_to new_plan_path do
            目標を設定する
    %tr
      %th.report__txt{"data-label": "レポート"} 現在
      - if @reports.first.present?
        %td.report__kg{"data-label": "kg"} #{@reports.last.weight}kg
      - else
        %td.report__kg{"data-label": "kg"}
          = link_to new_user_report_path do
            記録をする
  %table.report__details
    %tr
      %th.report__txt{"data-label": "レポート"} 成果
      - if @reports.first.present?
        %td.report__kg{"data-label": "kg"} #{@reports.last.weight-@reports.first.weight}kg
      - else
        %td.report__kg{"data-label": "kg"}
          = link_to new_user_report_path do
            記録をする
    %tr
      %th.report__txt{"data-label": "レポート"} 目標まで
      - if @plan.present? && Date.today < @plan.target_on
        - if @reports.last.present?
          %td.report__kg{"data-label": "kg"} #{@reports.last.weight-current_user.plans.last.target_weight}kg
        - else
          %td.report__kg{"data-label": "kg"}
            = link_to edit_plan_path(current_user.plans.last.id) do
              目標の開始日を変更する
      - else
        %td.report__kg{"data-label": "kg"}
          = link_to new_plan_path do
            目標を再設定する
  %table.report__details
    %tr
      %th.report__txt{"data-label": "レポート"} 1週間後の予測
      - if @reports.length >=2
        %td.report__kg{"data-label": "kg"} #{@week_after}kg
      - else
        %td.report__kg{"data-label": "kg"} 計算できません
%script{src: "https://www.amcharts.com/lib/4/core.js"}
%script{src: "https://www.amcharts.com/lib/4/charts.js"}
%script{src: "https://www.amcharts.com/lib/4/themes/dataviz.js"}
%script{src: "https://www.amcharts.com/lib/4/themes/animated.js"}

#chartdiv
